<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="default-test" parallel="classes" thread-count="2" configfailurepolicy="continue">
    <test name="Tests">

        <classes>
            <class name="com.chi.testtask.yota.tests.UserTests" />
            <class name="com.chi.testtask.yota.tests.AdminTests"/>
            <class name="com.chi.testtask.yota.tests.BusinessFlowTests"></class>
        </classes>
    </test>
</suite>
